<!-- Footer -->
<footer class="mt-auto text-white-50" role="contentinfo">
  <div class="container">
      <p> &copy; 2019 -
      <span class="text-muted">By Ronnie Joshua |
          <a href="mailto:ron.juden@gmail.com">ron[.]juden(at)gmail{dot}com</a>
          | +972 S8 S17NOV83 |
          <a href="https://github.com/ronniejoshua" target="_blank" class="fa fa-github" aria-hidden="true"></a>
          <a href="https://www.linkedin.com/in/ronnie-joshua" target="_blank" class="fa fa-linkedin" aria-hidden="true"></a>
          <a href="https://medium.com/@ron.gujjew" target="_blank" class="fa fa-medium" aria-hidden="true"></a>
          <a href="https://twitter.com/ronthegujjew" target="_blank" class="fa fa-twitter-square" aria-hidden="true"></a>
          <a href="https://www.facebook.com/ronjuden" target="_blank" class="fa fa-facebook-official" aria-hidden="true"></a>
      </span>
      </p>

  </div>
</footer>


