    <!-- _navbar is used in all web pages. It's the 1st snippet to render in the body tag -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV7VPXZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <a href="/home" class="navbar-brand">Ronnie Joshua</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <!-- Nav Option 1 -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/ronnie-joshua/"
                       class="nav-link" target="_blank">Linkedin Profile</a>
                </li>
            </ul>
            <!-- Nav Option 2 -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://storage.cloud.google.com/arched-album-245206.appspot.com/ronnie_joshua_curriculum_vitae.pdf"
                       class="nav-link" target="_blank" download="ronnie_joshua_cv_2019">Curriculum vitae</a>
                </li>
            </ul>
            <!-- Nav Option 3 -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/about"
                       class="nav-link">About Me</a>
                </li>
            </ul>

            
        </div>
    </nav>