<!DOCTYPE html>
<html lang="en">

  <!-- layout.html - used for generating common layout for all web pages -->
  <!-- Generic Head [Common for All Pages] -->
  <!-- When writing efficient HTML - Think of Structure, Semantics & Content Models -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Ronnie Joshua - Analytics Engineer | Data Developer | Data Engineer | BI Developer">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="og:title" property="og:title" content="Ronnie Joshua - Analytics Engineer | Data Developer | Data Engineer | BI Developer">
    <meta name="robots" content="index, follow">
    <link href="http://www.webanalyticsinfo.com/" rel="canonical">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    
    
    

    <!-- Bootstrap CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Ronnie Joshua - Analytics & Data Engineer</title>

    
    <!-- Google Tag Manager Code [Jinja Templating]-->
    <script src="{{ url_for('static', filename='scripts/gtm_container.js') }}"></script>


  </head>

  <body>
    <!-- Generic Navigation Bar for All Pages [Jinja Templating]-->
    {% include 'includes/_navbar.html' %}

    <!-- Generic Body Block [Jinja Templating] -->
    <div class="starter-template">
      {% block body %}
      {% endblock %}
    </div>

    <!-- Generic Footer for All Pages [Jinja Templating] -->
    {% include 'includes/_footer.html' %}

  <!-- Bootstrap Javascript Dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>